<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title><% if (locals.title){%><%= title %> <%}%> | Resume of Dr Anil Bhattarai, PhD</title>
</head>

<body>
    

    <section class="app-wrapper">
        <%- include('./partials/topnav') %>

        <div id="main-content">
            <%- include('./partials/errorMessage') %>
            <%- include('./partials/successMessage') %>
            <%- body %>
        </div>
        <%- include('./partials/footer') %>

        </section>
        <script src="/ui.js" type="module"></script>
        </body>

</html>